In [1]:
import pandas as pd
file_path = r"C:\Users\Admin\Desktop\JMD327_MainProject\JMD327_JElite\DataEngineering\DataEngineering\Data Extraction\course_enrollment_data.csv"
enroll = pd.read_csv(file_path)
enroll.head()

,enrollment_id,employee_id,course_id,enrolled_date,completed_date,progress,ratings,feedback
0,1,467,22,2023-08-12,2023-12-04,70,1.5,"Poorly organized, I expected better."
1,2,425,15,2024-08-12,2024-10-01,84,5.0,Very informative and well structured.
2,3,423,1,2023-09-21,2024-02-24,31,3.6,Average course with some useful content.
3,4,107,11,2022-10-27,2023-02-20,15,2.6,It was a decent experience overall.
4,5,409,24,2024-05-16,2024-07-15,68,2.4,"Not worth the time, very disappointing."

In [2]:
enroll.to_csv("raw_enroll.csv",index=False)