In [1]:
import numpy as np
import pandas as pd

In [2]:
file_path = r"C:\Users\Admin\Desktop\JMD327_MainProject\JMD327_JElite\DataEngineering\DataEngineering\DataEngineering\prep_schema\prep_course.csv"
course = pd.read_csv(file_path)
course.head()

,course_id,course_name,course_duration,price,outcome_skill,role_outcome
0,1,Introduction to Data Science,10,841,SQL,junior data scientist
1,2,Python for Data Science,11,1564,SQL,junior data scientist
2,3,Data Analysis with Pandas,6,757,Python,junior data scientist
3,4,Advanced Machine Learning,12,150,Machine Learning,senior data scientist
4,5,Deep Learning Specialization,12,1433,Machine Learning,senior data scientist

In [3]:
course.to_csv("dim_course.csv", index=False)